.container {
    display: flex;
    margin: 5px;
    div {
        margin: 5px;
    }
}
form {
    overflow: hidden;
}

.manual {
    border: 1px solid ;
    width: 200px;
    height: 200px;
    padding: 30px;
    margin:30px
}

.bound-box {
    border: 1px solid  black ;
    width: 200px;
    height: 200px;
}
.resizable-widget{
    background-color: blue;
    border: none;
    width: 50px;
    height: 50px;
    border: 1px solid red
  }